<!DOCTYPE html>
<html>

<head lang="en">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">

	<title>Custom single page application</title>

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">
	<link href="assets/css/styles.css" rel="stylesheet">
</head>

<body>

	<header class="compact">
		<h1><a href="#">Single page application</a></h1>
	</header>

	<div class="main-content">

		<div class="all-products page">

			<div class="filters">
				<form>

					<div class="filter-criteria">
						<span>Manufacturer</span>
						<label><input type="checkbox" name="manufacturer" value="apple">Apple</label>
						<label><input type="checkbox" name="manufacturer" value="samsung">Samsung</label>
						<label><input type="checkbox" name="manufacturer" value="htc">HTC</label>
						<label><input type="checkbox" name="manufacturer" value="nokia">Nokia</label>
						<label><input type="checkbox" name="manufacturer" value="zte">ZTE</label>
						<label><input type="checkbox" name="manufacturer" value="sony">Sony</label>
					</div>

					<div class="filter-criteria">
						<span>Screen Size</span>
						<label><input type="checkbox" value="16" name="storage">16 GB</label>
						<label><input type="checkbox" value="32" name="storage">32 GB</label>
					</div>

					<div class="filter-criteria">
						<span>OS</span>
						<label><input type="checkbox" value="android" name="os">Android</label>
						<label><input type="checkbox" value="ios" name="os">iOS</label>
						<label><input type="checkbox" value="windows" name="os">Windows</label>
					</div>

					<div class="filter-criteria">
						<span>Camera</span>
						<label><input type="checkbox" value="5" name="camera">5 Mpx</label>
						<label><input type="checkbox" value="8" name="camera">8 Mpx</label>
						<label><input type="checkbox" value="12" name="camera">12 Mpx</label>
						<label><input type="checkbox" value="15" name="camera">15 Mpx</label>
					</div>

					<button type="reset">Clear filters</button>

				</form>

			</div>

			<ul class="products-list">
				<script id="products-template" type="x-handlebars-template">​
					{{#each this}}
						<li class="product" data-index="{{id}}">
							<a href="#" class="product-photo"><img src="{{image.small}}" height="130" alt="{{name}}"/></a>
							<h2><a href="#"> {{name}} </a></h2>
							<ul class="product-description">
								<li><span>Manufacturer: </span>{{specs.manufacturer}}</li>
								<li><span>Storage: </span>{{specs.storage}} GB</li>
								<li><span>OS: </span>{{specs.os}}</li>
								<li><span>Camera: </span>{{specs.camera}} Mpx</li>
							</ul>
							<button>Buy Now!</button>
							<p class="product-price">{{price}}$</p>
						</li>
					{{/each}}
				</script>
			</ul>
		</div>


		<div class="single-product page">
			<div class="preview-large">
				<h3>Single product view</h3>
				<img src=""/>
				<p></p>
				<div>
					<a class="link-back" href="#">Back</a>
				</div>
			</div>
		</div>

		<div class="error page">
			<h3>Sorry, something went wrong :(</h3>
		</div>

	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
	<script src="assets/js/script.js"></script>
</body>
</html>
